In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
dataset = pd.DataFrame({"color":['a', 'b', 'c', 'd', 'a', 'e'] ,
                        "numb":[1, 2, 3, 4, 1, 5], 
                        "flower":['Rose','Lotus','Lily','Lotus','Rose','Lily']
                       })

In [14]:
dataset

  color  numb flower
0     a     1   Rose
1     b     2  Lotus
2     c     3   Lily
3     d     4  Lotus
4     a     1   Rose
5     e     5   Lily

In [15]:
dataset.duplicated()

0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [16]:
dataset.drop_duplicates()

  color  numb flower
0     a     1   Rose
1     b     2  Lotus
2     c     3   Lily
3     d     4  Lotus
5     e     5   Lily