In [26]:
# Data Encoder>>>
# Nominal/OneHotEncoder...
# Label/OrdinalEncoder...
# Target guided ordinal encoding...

In [92]:
import pandas as pd 
import seaborn as sns 
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [93]:
df1 = sns.load_dataset('tips')

In [94]:
df1

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [95]:
# Nominal/OneHotEncoder...

from sklearn.preprocessing import OneHotEncoder

In [96]:
encoder = OneHotEncoder()

In [97]:
encoded = encoder.fit_transform(df1[['day', 'time']]).toarray()

In [98]:
encoded_value = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())
encoded_value

     day_Fri  day_Sat  day_Sun  day_Thur  time_Dinner  time_Lunch
0        0.0      0.0      1.0       0.0          1.0         0.0
1        0.0      0.0      1.0       0.0          1.0         0.0
2        0.0      0.0      1.0       0.0          1.0         0.0
3        0.0      0.0      1.0       0.0          1.0         0.0
4        0.0      0.0      1.0       0.0          1.0         0.0
..       ...      ...      ...       ...          ...         ...
239      0.0      1.0      0.0       0.0          1.0         0.0
240      0.0      1.0      0.0       0.0          1.0         0.0
241      0.0      1.0      0.0       0.0          1.0         0.0
242      0.0      1.0      0.0       0.0          1.0         0.0
243      0.0      0.0      0.0       1.0          1.0         0.0

[244 rows x 6 columns]

In [99]:
encoded_value = encoded_value.drop(['day_Thur', 'time_Lunch'], axis=1)

In [100]:
df1 = df1.drop(['day', 'time'], axis=1)

In [101]:
new_df = pd.concat([df1, encoded_value], axis=1)

In [102]:
new_df

,total_bill,tip,sex,smoker,size,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,1.01,Female,No,2,0.0,0.0,1.0,1.0
1,10.34,1.66,Male,No,3,0.0,0.0,1.0,1.0
2,21.01,3.50,Male,No,3,0.0,0.0,1.0,1.0
3,23.68,3.31,Male,No,2,0.0,0.0,1.0,1.0
4,24.59,3.61,Female,No,4,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,3,0.0,1.0,0.0,1.0
240,27.18,2.00,Female,Yes,2,0.0,1.0,0.0,1.0
241,22.67,2.00,Male,Yes,2,0.0,1.0,0.0,1.0
242,17.82,1.75,Male,No,2,0.0,1.0,0.0,1.0
243,18.78,3.00,Female,No,2,0.0,0.0,0.0,1.0

In [103]:
#Label Encoder...

from sklearn.preprocessing import LabelEncoder

In [111]:
# ðŸ§  Model training ke time
# Jab tum model ko train karte ho, to wo ye mapping yaad nahi karta,
# wo sirf numbers ke pattern seekhta hai.
# Lekin tumhare pass LabelEncoder object hai â€”
# uske andar mapping saved hoti hai:

encoder_l1 = LabelEncoder()
encoder_l2 = LabelEncoder()

In [152]:
encoded_sex = encoder_l1.fit_transform(df1['sex'])
encoded_smoker = encoder_l2.fit_transform(df1['smoker']).drop_first=
encoded_sex.classes_

SyntaxError: invalid syntax (1642120806.py, line 2)

In [153]:
sex_smoker = pd.DataFrame({
    'sex_Male': encoded_sex,
    'smoker_Yes': encoded_smoker
})
sex_smoker

     sex_Male  smoker_Yes
0           0           0
1           1           0
2           1           0
3           1           0
4           0           0
..        ...         ...
239         1           0
240         0           1
241         1           1
242         1           0
243         0           0

[244 rows x 2 columns]

In [155]:
encoder_l1.classes_, encoder_l2.classes_

(array(['Female', 'Male'], dtype=object), array(['No', 'Yes'], dtype=object))

In [159]:
new_df =

TypeError: cannot concatenate object of type '<class 'bool'>'; only Series and DataFrame objs are valid

In [142]:
new_df

,0,1,2,3,4,5,6,7,8,9,...,234,235,236,237,238,239,240,241,242,243
0,0,1,1,1,0,1,1,1,1,1,...,1,1,1,1,0,1,0,1,1,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,0,1,1,0,0
0,0,1,1,1,0,1,1,1,1,1,...,1,1,1,1,0,1,0,1,1,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,0,1,1,0,0