In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
dataset = pd.read_csv("placement_data.csv")

In [3]:
dataset.head(4)

   CGPA  Score  Placement
0  6.87    211          0
1  9.75    517          1
2  8.66    791          1
3  7.99    415          0